<header class="nav">
  <div class="container nav-inner">
    <a class="brand" href="/" data-active>CICIHERE</a>
    <nav class="menu">
      <a href="/" data-active>Home</a>
      <a href="/categories/" data-active>Categories</a>
      <a href="/brands/" data-active>Brands</a>
      <a href="/article/" data-active>Blog</a>
      <a href="/contact/" data-active>Contact</a>
    </nav>
  </div>
</header>
